body {
  background-image: url("./img.jpeg") !important;
  background-position: center;
}
h1 {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
}
.use-keyboard-input {
  font-size: 40px;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  text-align: center;
  width: 100%;
  resize: none;
}

.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 50px 0;
  background: #1f201f;
  opacity: 0.7;

  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); */
  /* user-select: none; */
  /* transition: bottom 0.9s; */
}

/* .keyboard--hidden {
    bottom: -100%;
} */

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 60px;
  width: 10%;
  max-width: 120px;
  margin: 5px;
  border-radius: 10px;
  border: 3px solid #000000;
  background: rgba(126, 119, 119, 0.2);
  color: #ffffff;
  font-size: 30px;
  /* outline: none; */
  cursor: pointer;
  /* display: inline-flex; */
  align-items: center;
  justify-content: center;
  /* vertical-align: top; */
  /* padding: 0; */
  /* -webkit-tap-highlight-color: transparent; */
  position: relative;
}

.keyboard__key:active {
  background: rgba(19, 18, 18, 0.12);
}

.keyboard__key:hover {
  background-color: #131413;
  transform: scale(1.1);
}

/* .keyboard__key--wide {
  width: 12%;
} */

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

/* .keyboard__key--activatable::after {
  content: "";
  top: 10px;
  right: 10px;
  position: absolute;
  width: 100px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}   */

/* .keyboard__key--active::after {
  background: #08ff00;
} */

/* .keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
} */
